/* global layout properties */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  position: relative;
  height: 100vh;
  width: 100%;
  font-family: "Lato", sans-serif;
  background: linear-gradient(
    to bottom,
    var(--backgroundOne) -60%,
    var(--backgroundTwo) 120%
  );
  color: var(--textColor);

  --backgroundOne: #3fb3c2;
  --backgroundTwo: #090709;
  --textColor: #fff;
}
/* first part - menu */
.menu {
  display: flex;
  justify-content: space-around;
  align-items: center;

  position: absolute;
  top: 2.5%;
  left: 50%;
  transform: translateX(-50%);
  width: 90%;
  height: 15%;
  background: linear-gradient(
    to bottom,
    var(--backgroundOne) -60%,
    var(--backgroundTwo) 120%
  );
  border-radius: 5px;
  box-shadow: 0 0 10px 0px black;
}
.menu-views {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 95%;
  height: 75%;
}
.menu-views > * {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  font-size: 0.9rem;
}
.menu-views > * > i {
  font-size: 1.7rem;
  margin-bottom: 10%;
}
.menu-vievs-all-text {
  background-color: rgba(0, 0, 0, 0.63);
  padding: 5px;
  border-radius: 2.5px;
}

/* second part  - setup*/
.setup {
  position: absolute;
  top: 19%;
  left: 0;
  background-color: #000;
}
