/* global layout properties */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  position: relative;
  height: 100vh;
  width: 100%;
  font-family: "Lato", sans-serif;
  background: linear-gradient(
    to bottom,
    var(--backgroundOne) -60%,
    var(--backgroundTwo) 120%
  );
  color: var(--textColor);

  --backgroundOne: #3fb3c2;
  --backgroundTwo: #090709;
  --textColor: #fff;
}

.cnt{
  width: 100%;
  height: 100vh;
}
/* first part - menu */
.menu {
  display: flex;
  justify-content: space-around;
  align-items: center;

  position: absolute;
  top: 2.5%;
  left: 50%;
  transform: translateX(-50%);
  width: 90%;
  height: 15%;
  background: linear-gradient(
    to bottom,
    var(--backgroundOne) -60%,
    var(--backgroundTwo) 120%
  );
  border-radius: 5px;
  box-shadow: 0 0 10px 0px black;
}

.menu-views {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 95%;
  height: 75%;
}
.menu-views > * {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  font-size: 0.9rem;
  cursor: pointer;
}

.menu-views > * > i {
  font-size: 1.7rem;
  margin-bottom: 10%;
  
}
.menu-vievs-all-text {
  background-color: rgba(0, 0, 0);
  padding: 5px;
  border-radius: 2.5px;
  
}

/* second part  - setup*/
.setup {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  position: absolute;
  top: 19%;
  left: 50%;
  transform: translateX(-50%);
  width: 95%;
  background-color: #000;
  width: 90%;
  height: 25%;
  background: linear-gradient(
    to bottom,
    var(--backgroundOne) -60%,
    var(--backgroundTwo) 120%
  );
  border-radius: 5px;
  box-shadow: 0 0 10px 0px black;
}
.setup-title {
  position: relative;
  left: 50%;
  transform: translateX(-60%);
  width: 40%;
  margin: 1rem;
  padding: 5px;
  background-color: #000;
  border-radius: 5px;
  text-align: center;
}
.setup-form {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 60%;
  margin: 0.5rem;
  background-color: black;
  padding: 0.5rem;
  border-radius: 5px;
  font-size: 0.9rem;
}
.setup-form-string {
  display: block;
}
.setup-form-input {
  position: absolute;
  right: 5%;
  width: 30%;
  height: 2rem;
  text-align: center;
  font-size: 1.2rem;
  border-radius: 5px;
}
.setup-form-input::placeholder {
  color: rgb(175, 174, 174);
  font-size: 0.9rem;
}

/*  third part - button Draw!*/
.draw {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translateX(-50%);
  width: 70%;
  height: 10%;
  margin: 2%;
  background: linear-gradient(
    to bottom,
    var(--backgroundOne) -60%,
    var(--backgroundTwo) 120%
  );
  border-radius: 5px;
  box-shadow: 0 0 10px 0px black;
}
.draw-button {
  width: 90%;
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: 3px;
  background-color: #000;
  outline: none;
  border: none;
  color: white;
  padding: 5px;
  border-radius: 5px;
}
/* fourth part - Results */
.results {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 58%;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
  width: 95%;
  border: 1px solid white;
  border-radius: 5px;
  padding: 5px;
  box-shadow: 0 0 7px 0px white;
}
.results-messageBefore {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  background-color: #000;
  border-radius: 5px;
  padding: 5px;
}
.results-teamName {
  margin: 10px 0;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 5px;
  border-radius: 5px;
  background-color: #000;
}
.results-skillRate {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 3%;
  right: 20%;
  width: 2.7rem;
  height: 2.7rem;
  border-radius: 50%;
  box-shadow: 0 0 5px 0 white;
  background-color: rgba(0, 0, 0, 0.562);
}
.results-prevButton,
.results-nextButton {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 15%;
  background-color: rgba(0, 0, 0, 0.2);
  transform: rotate(-180deg);
}
.results-nextButton {
  left: 85%;
}
.results-nextButton i {
  transform: rotate(180deg);
}
.results-playersCnt {
  width: 65%;
  border-radius: 5px;
  padding: 0.2rem;
  overflow-y: scroll;
  border: 1px solid rgba(255, 255, 255, 0.623);
}
.results-playersCnt-player {
  display: flex;
  justify-content: space-between;
  width: 90%;
  height: 2rem;
  margin: 0.3rem;
  font-size: 0.7rem;
}
.results-playersCnt-player-name {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  width: 80%;
  border-radius: 5px;
  background-color: var(--backgroundTwo);
}
.results-playersCnt-player-position {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1.8rem;
  height: 1.8rem;
  border-radius: 50%;
  box-shadow: 0 0 4px 0 #fff;
  background-color: #000;
}
/* fifth part - footer */
footer {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  font-size: 0.9rem;
  color: white;
}

/* 1/3 part modal - all_Players AND 2/3 part modal - activePlayers  */
.modal-allPlayers,
.modal-activePlayers {
  display: none;
  z-index: 1;
  position: absolute;
  top: 10%;
  bottom: 10%;
  left: 10%;
  right: 10%;
  background: linear-gradient(
    to bottom,
    var(--backgroundOne) -60%,
    var(--backgroundTwo) 120%
  );
  border-radius: 5px;
  box-shadow: 0 0 10px 0px black;
}

.modal-allPlayers-buttonClose,
.modal-activePlayers-buttonClose {
  position: absolute;
  top: -1rem;
  right: -1rem;
  border-radius: 50%;
  color: white;
  font-size: 2rem;
}
.modal-allPlayers-cnt,
.modal-activePlayers-cnt {
  position: absolute;
  top: 2%;
  bottom: 2%;
  left: 5%;
  right: 5%;
}
.modal-allPlayers-cnt-title,
.modal-activePlayers-cnt-title {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: min-content;
  padding: 5px;
  border-radius: 5px;
  text-align: center;
  background-color: black;
  font-size: 1rem;
}
.modal-allPlayers-cnt-input,
.modal-activePlayers-cnt-input {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 8%;
  left: 50%;
  transform: translateX(-50%);
  width: 70%;
  height: 8%;
  font-size: 0.9rem;
  text-align: center;
}
.modal-allPlayers-cnt-input::placeholder,
.modal-activePlayers-cnt-input::placeholder {
  color: rgb(175, 174, 174);
}
.modal-allPlayers-cnt-list,
.modal-activePlayers-cnt-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2%;
  position: absolute;
  top: 19%;
  bottom: 10%;
  width: 100%;
  border: 1px solid rgba(255, 255, 255, 0.623);
  overflow-y: scroll;
}
.modal-allPlayers-cnt-list-title,
.modal-activePlayers-cnt-list-title {
  background-color: #000;
  color: white;
  padding: 5px;
  border-radius: 5px;
  text-align: center;
}
.modal-allPlayers-cnt-list-player,
.modal-activePlayers-cnt-list-player {
  display: flex;
  justify-content: space-between;
  width: 90%;
  height: 1.9rem;
  margin: 0.3rem;
  font-size: 1rem;
  padding: 5px;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.63);
}
.activePlayer {
  background-color: greenyellow;
  color: black;
  box-shadow: 0 0 10px 0 goldenrod;
}
.modal-allPlayers-cnt-confirm {
  position: absolute;
  bottom: 0;
  top: 92%;
  left: 50%;
  transform: translateX(-50%);
  width: 60%;
  background-color: white;
  border: none;
  outline: yellow;
  background-color: black;
  color: #fff;
  letter-spacing: 2px;
  font-size: 1.5rem;
  text-transform: uppercase;
  border-radius: 5px;
}
.modal-activePlayers-cnt-list-player-name {
  display: flex;
  align-items: center;
  width: 40%;
  font-size: 0.7rem;
}

/* 3/3 part modal - addPlayer */
.modal-addPlayer {
  display: none;
  z-index: 1;
  position: absolute;
  top: 25%;
  bottom: 25%;
  left: 10%;
  right: 10%;
  background: linear-gradient(
    to bottom,
    var(--backgroundOne) -60%,
    var(--backgroundTwo) 120%
  );
  border-radius: 5px;
  box-shadow: 0 0 10px 0px black;
}
.modal-addPlayer-buttonClose {
  position: absolute;
  top: -1rem;
  right: -1rem;
  border-radius: 50%;
  color: white;
  font-size: 2rem;
}

.modal-addPlayer-title {
  position: absolute;
  top: 2%;
  left: 50%;
  transform: translateX(-50%);
  width: min-content;
  padding: 5px;
  border-radius: 5px;
  text-align: center;
  background-color: black;
  font-size: 1rem;
}
.modal-addPlayer-cnt {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  top: 15%;
  bottom: 0;
  width: 100%;
}
.modal-addPlayer-cnt-nameStack,
.modal-addPlayer-cnt-positionStack,
.modal-addPlayer-cnt-skillStack {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.modal-addPlayer-cnt-nameStack-fullName,
.modal-addPlayer-cnt-positionStack-string,
.modal-addPlayer-cnt-skillStack-string {
  padding: 5px;
  border-radius: 5px;
  margin-bottom: 10px;
  font-size: 0.9rem;
  background-color: #000;
}
.modal-addPlayer-cnt-nameStack-fullNameString {
  text-align: center;
  height: 1.5rem;
}
.modal-addPlayer-cnt-nameStack-fullNameString::placeholder {
  color: rgb(175, 174, 174);
}
.modal-addPlayer-add {
  width: 60%;
  background-color: white;
  border: none;
  outline: yellow;
  background-color: black;
  color: #fff;
  letter-spacing: 2px;
  font-size: 1.5rem;
  text-transform: uppercase;
  border-radius: 5px;
}
.activeModal{
  display: block;
}
.nonActive{
  filter: blur(16px);
}
