/* global layout properties */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  position: relative;
  height: 100vh;
  width: 100%;
  font-family: "Lato", sans-serif;
  background: linear-gradient(
    to bottom,
    var(--backgroundOne) -60%,
    var(--backgroundTwo) 120%
  );
  color: var(--textColor);

  --backgroundOne: #3fb3c2;
  --backgroundTwo: #090709;
  --textColor: #fff;
}

.cnt {
  width: 100%;
  height: 100vh;
}
/* first part - menu */
.menu {
  display: flex;
  justify-content: space-around;
  align-items: center;

  position: absolute;
  top: 2.5%;
  left: 50%;
  transform: translateX(-50%);
  width: 90%;
  height: 15%;
  background: linear-gradient(
    to bottom,
    var(--backgroundOne) -60%,
    var(--backgroundTwo) 120%
  );
  border-radius: 5px;
  box-shadow: 0 0 10px 0px black;
}

.menu-views {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 75%;
  height: 75%;
}
.menu-views > * {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  font-size: 0.6rem;
  cursor: pointer;
  margin: 4px;
}

.menu-views > * > i {
  font-size: 1.7rem;
  margin-bottom: 10%;
}
.menu-vievs-all-text {
  background-color: rgba(0, 0, 0);
  padding: 5px;
  border-radius: 2.5px;
}
.menu-views-help {
  position: absolute;
  top: 0%;
  right: 0%;
}
.menu-views-help i {
  font-size: 1.6rem;
}

/* second part  - setup*/
.setup {
  position: absolute;
  top: 19%;
  left: 50%;
  transform: translateX(-50%);
  width: 95%;
  background-color: #000;
  width: 90%;
  height: 15%;
  background: linear-gradient(
    to bottom,
    var(--backgroundOne) -60%,
    var(--backgroundTwo) 120%
  );
  border-radius: 5px;
  box-shadow: 0 0 10px 0px black;
}
.setup-cnt {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 100%;
}
.setup-title {
  width: 70%;
  padding: 5px;
  background-color: #000;
  border-radius: 5px;
  text-align: center;
  font-size: 1rem;
}
.setup-form {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 70%;
  background-color: black;
  padding: 0.5rem;
  border-radius: 5px;
  font-size: 0.9rem;
}
.setup-form-string {
  display: block;
}
.setup-form-input {
  width: 25%;
  height: 100%;
  text-align: center;
  font-size: 0.9rem;
  border-radius: 5px;
}
.setup-form-input::placeholder {
  color: rgb(175, 174, 174);
  font-size: 0.6rem;
}

/*  third part - button Draw!*/
.draw {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translateX(-50%);
  width: 70%;
  height: 10%;
  margin: 2%;
  background: linear-gradient(
    to bottom,
    var(--backgroundOne) -60%,
    var(--backgroundTwo) 120%
  );
  border-radius: 5px;
  box-shadow: 0 0 10px 0px black;
  cursor: pointer;
}
.draw-button {
  width: 90%;
  height: 90%;
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: 3px;
  background-color: #000;
  outline: none;
  border: none;
  color: white;
  padding: 5px;
  border-radius: 5px;
  transition: 0.2s;
}
.draw-button:hover {
  background-color: tomato;
}
/* fourth part - Results */
.results {
  display: flex;
  justify-content: center;
  position: absolute;
  top: 48%;
  bottom: 3.5%;
  left: 50%;
  transform: translateX(-50%);
  width: 95%;
  box-shadow: 0 0 7px 0px white;
}
.resluts-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 70%;
  margin: 0 auto;
}
.results-messageBefore {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  background-color: #000;
  border-radius: 5px;
  padding: 5px;
  font-size: 1rem;
}
.results-teamName {
  position: absolute;
  left: 50%;
  top: 1.5%;
  transform: translateX(-50%) scale(0);
  text-align: center;
  margin: 10px 0;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 1rem;
  padding: 5px;
  border-radius: 5px;
  background-color: #000;
  animation: aniTeamName 0.2s ease-out forwards;
}
@keyframes aniTeamName {
  0% {
    transform: translateX(-50%) scale(0);
  }
  100% {
    transform: translateX(-50%) scale(1);
  }
}
.results-skillRate {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 3%;
  right: 20%;
  width: 2rem;
  height: 2rem;
  font-size: 0.7rem;
  border-radius: 50%;
  box-shadow: 0 0 5px 0 white;
  background-color: rgba(0, 0, 0, 0.562);
  transform: scale(0);
  animation: aniSkillRate 0.1s 0.3s ease-in forwards;
}
@keyframes aniSkillRate {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
.results-copyBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 3%;
  left: 18%;
  width: 1.7rem;
  height: 1.7rem;
  font-size: 0.7rem;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.562);
}
.results-prevButton,
.results-nextButton {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 15%;
  background-color: rgba(0, 0, 0, 0.2);
  transform: rotate(-180deg);
}
.results-nextButton {
  left: 85%;
}
.results-nextButton i {
  transform: rotate(180deg);
}
.results-playersCnt {
  position: absolute;
  top: 18%;
  bottom: 3%;
  left: 50%;
  transform: translateX(-50%) scale(0);
  opacity: 1;
  width: 65%;
  border-radius: 5px;
  padding: 0.2rem;
  overflow-y: scroll;
  border: 1px solid rgba(255, 255, 255, 0.623);
  animation: aniPlayersCtn 0.2s 0.1s ease-out forwards;
}
@keyframes aniPlayersCtn {
  0% {
    transform: translateX(-50%) scale(0);
    opacity: 1;
  }
  50% {
    opacity: 0.5;
    transform: translateX(-50%) scale(0.5);
  }
  100% {
    opacity: 1;
    transform: translateX(-50%) scale(1);
  }
}
.results-playersCnt-player {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 98%;
  height: 2rem;
  margin: 0.3rem;
  font-size: 0.5rem;
  text-transform: uppercase;
  transition: 0.5s;
}
.results-playersCnt-player-name {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
  height: 100%;
  border-radius: 5px;
  background-color: var(--backgroundTwo);
}
.results-playersCnt-player-position {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1.2rem;
  height: 1.2rem;
  border-radius: 50%;
  box-shadow: 0 0 4px 0 #fff;
  background-color: #000;
  font-size: 0.7rem;
  margin-right: 3%;
}
/* fifth part - footer */
footer {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  font-size: 0.9rem;
  color: white;
  cursor: pointer;
}
a {
  display: block;
  margin-left: 10px;
  color: white;
  letter-spacing: 1px;
  text-decoration: none;
}
a:visited {
  color: white;
}

/* 1/3 part modal - all_Players AND 2/3 part modal - activePlayers  */
.modal-allPlayers,
.modal-activePlayers,
.modal-addPlayer {
  display: none;
  z-index: 1;
  position: absolute;
  top: 5%;
  bottom: 45%;
  left: 10%;
  right: 10%;
  background: linear-gradient(
    to bottom,
    var(--backgroundOne) -60%,
    var(--backgroundTwo) 120%
  );
  border-radius: 5px;
  box-shadow: 0 0 10px 0px black;
  transform: scale(0);
  animation: aniModal 0.2s ease-out both;
}
@keyframes aniModal {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

.modal-allPlayers-buttonClose,
.modal-activePlayers-buttonClose,
.modal-addPlayer-buttonClose {
  position: absolute;
  top: -1rem;
  right: -1rem;
  border-radius: 50%;
  color: white;
  font-size: 2rem;
}
.modal-allPlayers-playerCounter {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: -1rem;
  left: -1rem;
  border-radius: 50%;
  background: linear-gradient(to bottom, black, var(--backgroundOne));
  color: white;
  width: 40px;
  height: 40px;
  font-size: 1.6rem;
  box-shadow: 0 0 20px 0 white;
}
.modal-allPlayers-cnt,
.modal-activePlayers-cnt,
.modal-addPlayer-cnt {
  position: absolute;
  top: 2%;
  bottom: 2%;
  left: 5%;
  right: 5%;
}
.modal-allPlayers-cnt-title,
.modal-activePlayers-cnt-title,
.modal-addPlayer-title {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: min-content;
  padding: 5px;
  border-radius: 5px;
  text-align: center;
  background-color: black;
  font-size: 1rem;
}
.modal-allPlayers-cnt-input,
.modal-activePlayers-cnt-input {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  width: 70%;
  height: 8%;
  font-size: 0.9rem;
  text-align: center;
}
.modal-allPlayers-cnt-input::placeholder,
.modal-activePlayers-cnt-input::placeholder {
  color: rgb(175, 174, 174);
}
.modal-allPlayers-cnt-list,
.modal-activePlayers-cnt-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2%;
  position: absolute;
  top: 19%;
  bottom: 10%;
  width: 100%;
  border: 1px solid rgba(255, 255, 255, 0.623);
  overflow-y: scroll;
}
.modal-activePlayers-cnt-list {
  top: 10%;
  bottom: 5%;
}
.modal-allPlayers-cnt-list-title,
.modal-activePlayers-cnt-list-title,
.modal-activePlayers-removeAll {
  background-color: #000;
  color: white;
  width: 70%;
  padding: 5px;
  border-radius: 5px;
  text-align: center;
  font-size: 0.9rem;
  margin-bottom: 10px;
}

.fa-minus-circle {
  font-size: 1.4rem;
}
.modal-allPlayers-cnt-list-player,
.modal-activePlayers-cnt-list-player {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: 0.3rem;
  font-size: 0.6rem;
  padding: 5px;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.63);
  text-transform: uppercase;
  cursor: pointer;
}
.activePlayer {
  background-color: greenyellow;
  color: black;
  box-shadow: 0 0 10px 0 goldenrod;
}
.modal-allPlayers-cnt-confirm {
  position: absolute;
  bottom: 2%;
  top: 90%;
  left: 50%;
  transform: translateX(-50%);
  width: auto;
  height: 10%;
  background-color: white;
  border: none;
  outline: yellow;
  background-color: black;
  color: #fff;
  letter-spacing: 2px;
  font-size: 1.4rem;
  text-transform: uppercase;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.2s;
  padding: 0 10px;
}
.modal-allPlayers-cnt-confirm:hover {
  background-color: tomato;
}

/* 3/3 part modal - addPlayer */
.modal-addPlayer-title {
  position: absolute;
  top: 2%;
  left: 50%;
  transform: translateX(-50%);
}
.modal-addPlayer-cnt {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  top: 15%;
  bottom: 0;
  width: 90%;
}
.modal-addPlayer-cnt-nameStack,
.modal-addPlayer-cnt-positionStack,
.modal-addPlayer-cnt-skillStack {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.modal-addPlayer-cnt-nameStack-fullName,
.modal-addPlayer-cnt-positionStack-string,
.modal-addPlayer-cnt-skillStack-string {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  border-radius: 5px;
  margin-bottom: 10px;
  width: 100%;
  font-size: 0.9rem;
  background-color: #000;
  text-align: center;
}
.modal-addPlayer-cnt-nameStack-fullNameString {
  text-align: center;
  height: 1.5rem;
}
.modal-addPlayer-cnt-nameStack-fullNameString::placeholder {
  color: rgb(175, 174, 174);
  text-align: center;
}
.modal-addPlayer-add {
  width: auto;
  background-color: white;
  border: none;
  outline: yellow;
  background-color: black;
  color: #fff;
  letter-spacing: 2px;
  font-size: 1.5rem;
  text-transform: uppercase;
  border-radius: 5px;
  padding: 0 10px;
}
.activeModal {
  display: block;
}
.nonActive {
  filter: blur(16px);
}
.modal-addPlayer-cnt-positionStack-positon-options,
.modal-addPlayer-cnt-positionStack-skill-options {
  display: block;
  width: 5%vw;
  padding: 5px;
  background-color: white;
  color: rgb(175, 174, 174);
  text-align: center;
}

/* SEKCJA MEDIA QUERIES PORTRAIT */
@media (min-width: 360px) and (max-width: 725px) and (orientation: portrait) {
  .menu-views > * {
    font-size: 1rem;
  }
}
@media (min-width: 726px) and (orientation: portrait) {
  /* menu */
  .menu-views > * {
    font-size: 1.8rem;
    margin: 0 5%;
  }
  .menu-views > * > i {
    font-size: 2.8rem;
  }
  .menu-views-help {
    position: absolute;
    top: 10%;
    right: 0%;
  }
  .menu-views-help i {
    font-size: 2.2rem;
  }
  /* team settings */
  .setup-title {
    font-size: 2rem;
  }
  .setup-form {
    font-size: 1.8rem;
  }
  .setup-form-input {
    font-size: 1.8rem;
  }
  .setup-form-input::placeholder {
    font-size: 1.2rem;
  }
  /* draw btn*/
  .draw {
    top: 34%;
    height: 11.5%;
  }
  .draw-button {
    font-size: 3rem;
  }
  /* results */
  .results-messageBefore {
    font-size: 2rem;
  }
  .results-teamName {
    font-size: 2rem;
    padding: 10px;
  }
  .results-skillRate {
    width: 4rem;
    height: 4rem;
    font-size: 1.4rem;
  }
  .results-copyBtn {
    width: 3.4rem;
    height: 3.4rem;
    font-size: 1.4rem;
  }
  .results-prevButton,
  .results-nextButton {
    font-size: 3rem;
  }
  .results-playersCnt-player {
    font-size: 1rem;
  }
  .results-playersCnt-player-position {
    width: 1.9rem;
    height: 1.9rem;
    font-size: 1.4rem;
  }
  /* footer */
  footer {
    font-size: 1.8rem;
  }
  /* modals 1 i 2*/
  .modal-allPlayers-buttonClose,
  .modal-activePlayers-buttonClose,
  .modal-addPlayer-buttonClose {
    font-size: 3rem;
  }
  .modal-allPlayers-playerCounter {
    width: 80px;
    height: 80px;
    font-size: 3.2rem;
  }
  .modal-allPlayers-cnt-title,
  .modal-activePlayers-cnt-title,
  .modal-addPlayer-title {
    font-size: 2rem;
  }
  .modal-allPlayers-cnt-input,
  .modal-activePlayers-cnt-input {
    top: 12%;
    font-size: 1.8rem;
  }
  .modal-allPlayers-cnt-list,
  .modal-activePlayers-cnt-list {
    top: 22%;
  }
  .modal-allPlayers-cnt-list-title,
  .modal-activePlayers-cnt-list-title,
  .modal-activePlayers-removeAll {
    font-size: 1.8rem;
  }
  .modal-allPlayers-cnt-list-player,
  .modal-activePlayers-cnt-list-player {
    font-size: 1.2rem;
  }
  .modal-allPlayers-cnt-confirm {
    font-size: 2rem;
  }
  .fa-minus-circle {
    font-size: 2rem;
    margin-left: 10px;
  }
  /* modal 3 */
  .modal-addPlayer-cnt-nameStack-fullName,
  .modal-addPlayer-cnt-positionStack-string,
  .modal-addPlayer-cnt-skillStack-string {
    font-size: 1.8rem;
  }
  .modal-addPlayer-cnt-nameStack-fullNameString {
    height: 3rem;
    font-size: 1.3rem;
  }
  .modal-addPlayer-add {
    font-size: 3rem;
  }
  .modal-addPlayer-cnt-positionStack-positon-options,
  .modal-addPlayer-cnt-positionStack-skill-options {
    display: block;
    height: 3rem;
    width: 3rem;
    font-size: 1.3rem;
  }
}
@media (min-width: 1023px) and (orientation: portrait) {
  /* results */
  .results-messageBefore {
    font-size: 3rem;
  }
  .results-teamName {
    font-size: 3rem;
  }
  .results-skillRate {
    width: 5.5rem;
    height: 5.5rem;
    font-size: 2.5rem;
  }
  .results-copyBtn {
    width: 4rem;
    height: 4rem;
    font-size: 2.2rem;
  }
  .results-prevButton,
  .results-nextButton {
    font-size: 6rem;
  }
  .results-playersCnt-player {
    height: 4rem;
    font-size: 2rem;
  }
  .results-playersCnt-player-position {
    width: 3.5rem;
    height: 3.5rem;
    font-size: 2rem;
  }
  /* footer */
  footer {
    font-size: 1.8rem;
  }
}
/* SEKCJA MEDIA QUERIES LANDSCAPE */
@media (min-width: 766px) and (orientation: landscape) {
  .menu-views > * {
    font-size: 1.5rem;
    margin: 0 5%;
  }
  .menu-views > * > i {
    font-size: 2.5rem;
  }
  .menu-views-help {
    position: absolute;
    top: 10%;
    right: -2%;
  }
  .menu-views-help i {
    font-size: 2.2rem;
  }
  /* draw btn*/
  .draw {
    top: 32.5%;
    height: 11.5%;
  }
  .draw-button {
    font-size: 3rem;
  }
  /* results */
  .results-messageBefore {
    font-size: 3rem;
  }
  .results-teamName {
    font-size: 2rem;
  }
  .results-skillRate {
    width: 3rem;
    height: 3rem;
    font-size: 1.2rem;
  }
  .results-copyBtn {
    width: 2rem;
    height: 2rem;
    font-size: 1.1rem;
  }
  .results-prevButton,
  .results-nextButton {
    font-size: 3rem;
  }
  .results-playersCnt-player {
    height: 2rem;
    font-size: 1rem;
  }
  .results-playersCnt-player-position {
    width: 1.5rem;
    height: 1.5rem;
    font-size: 1rem;
  }
  /* modals */
}
